{% extends 'base.html.twig' %}
{% block contenu %}
    <section class="page-content">
        <header><br><br>
            <h1>Mon parcours</h1><br><br>
            <p style="font-size: large"><b>
                <br>
                Hi ! My name's Gwladys and I am full stack developer

                </b>
            </p>

        </header>
    </section>

    <section>
        <img src="/assets/images/cv1.jpg" alt="cv Gwladys Akomezoghe">
        <img src="/assets/images/cv2.jpg" alt="cv Gwladys Akomezoghe">
    </section>



{% endblock %}
