{% extends 'base.html.twig' %}
{% block contenu %}
    <section class="page-content">
        <header><br><br>
            <h1>Mon parcours</h1><br><br>
            <p style="font-size: large"><b>
                Passionnée d'informatique depuis plus de 20 ans, j'ai débutée en tant qu'autodidacte.
                Je me suis par la suite tournée vers l'enseignement pour revenir il y'a deux ans à mon premier amour,
                le développement web.<br>
                Vous découvrirez dans cette section à travers mon cv mes expériences et également mes formations.

                </b>
            </p>

        </header>
    </section>

    <section>
        <img src="/assets/images/cv1.jpg" alt="cv Gwladys Akomezoghe">
        <img src="/assets/images/cv2.jpg" alt="cv Gwladys Akomezoghe">
    </section>



{% endblock %}
