{% extends 'base.html.twig' %}

{% block contenu %}
 <div style="padding-top: 150px; padding-bottom: 150px; padding-left: 500px">
<p>Merci, Votre message a bien été envoyé, <br> je vous recontacterais dans les plus brefs délais.</p>
 </div>

{% endblock %}
