{% extends 'base.html.twig' %}

{% block title %}Pins{% endblock %}

{% block contenu %}
<h1>{{ pluralize(pin|length, 'Pin','Pins') }}</h1>

{% for pin in pins %}
    <article>
        <h2>{{ pin.title }}</h2>
        <h2>{{ pin.description }}</h2>
    </article>
    {%endfor %}
{% endblock %}
