{% extends 'base.html.twig' %}

{% block contenu %}
   <section class="page-content">
      <header>

         <div>
         <p class="txtes">
            "Bienvenue, je m'appelle Gwladys j'ai 44 ans et je suis passionnée d'informatique depuis plus de 20 ans.
            Vous découvrirez dans ce portfolio mon parcours, mes formations et mes projets réalisés. N'hésitez pas à me contacter
            si vous avez besoin d'informations compémentaires."

         </p>
         </div>
      </header>
   </section>
<div class="text-center text-md-left">
   <section class="presentation-image">
      <img src="/assets/images/main-image.jpg" alt="Responsive image" class="img-fluid">
   </section>
<br><br>
   <h5>Mes réalisations</h5>
   <div class="row">
      <div class="col-sm-6">
         <div class="card">
            <img src="/assets/images/quizz.jpg" alt="Responsive image" class="card-img-top">
            <div class="card-body">
               <h5 class="card-title">QUIZZ DROLE</h5>
               <p class="card-text"> </p>
               <a href="{{ path('app_quizz') }}" class="btn btn-primary">Voir le quizz</a>
            </div>
         </div>
      </div>
      <div class="col-sm-6">
         <div class="card">
            <img src="/assets/images/boutique.jpg" alt="Responsive image" class="card-img-top">
            <div class="card-body">
               <h5 class="card-title">Boutique en ligne réalisée avec Symfony 5</h5>
               <p class="card-text"></p>
               <a href="{{ path('app_boutique') }}" class="btn btn-primary">Voir la boutique</a>
            </div>
         </div>
      </div>
   </div>
   <br><br>
   <h5><a href="{{ path('app_my_realisations') }}">suite des réalisations</a></h5>

{% endblock %}