{% extends 'contact_me/index.html.twig' %}

 {% block contenu %}
     <br><br>
     <h5>Inscription</h5>
     <br><br>

     <div class="card">
     <div class="card-body">
{{ form (formulaire) }}
     </div>
     </div>
 {% endblock %}