{% extends 'boutique/index.html.twig'%}


{% block contenu %}
<h1>Modification du password</h1>

    <hr>
    {% if notification %}
        <div class="alert alert-info">{{ notification }}</div>
    {% endif %}
    {{ form(form) }}
    <hr>
{% endblock %}