{% extends 'base.html.twig' %}


{% block contenu %}
<br>
    <h5>send a message</h5>

<div style="text-align: center">
    <div class="card">
        <div class="card-body">
            {{ form(form) }}
        </div>
    </div>
</div>


{% endblock  %}
