{% extends 'contact_me/index.html.twig' %}


{% block contenu %}
<br>
    <h1>Envoyer un message</h1>

<div class ="txte" style="text-align: center">
    <div class="card">
        <div class="card-body">
            {{ form(form) }}
        </div>
    </div>
</div>


{% endblock  %}
