{% extends 'base.html.twig' %}



    {% block contenu %}
        <div style="text-align: center">
            <br><br> <br>
            <h1>Table de multiplication  réalisé avec  SYMFONY 5</h1>
            <br><br>

        </div><br>
        <div style="width: 750px; padding-left: 300px">

            {{ form(form2) }}

        </div>

    {% endblock %}
