{% extends 'base.html.twig' %}



    {% block contenu %}
<div class="card">
    <div class="card-body">


            <br><br> <br>
            <h1>Table de multiplication  réalisé avec  SYMFONY 5</h1>
            <br><br>




            {{ form(form2) }}

        </div>
</div>

    {% endblock %}
