{% extends 'base.html.twig' %}



    {% block contenu %}
        <div class="card">
        <div  class="card-body">

        <div style="text-align: center">
            <br><br> <br>
            <h1>Table de {{nombre }} </h1>
            <br><br>

        </div><br>


            {% for i in range(low=0, high=10, step=1) %}
                <h3 style="text-align: center">  {{ i }} x {{ nombre }} =  {{ i* nombre }}</h3><br>
            {% endfor %}

        </div>
        </div>
    {% endblock %}